header#main-header {
    background: #ffa500;
}

header .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

header#main-header h1 {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
}

a#create-btn {
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-weight: 100;
    font-size: 14px;
}