header#main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffa500;
    height: 42px;
    width: 100%;
    padding: 8px;
}

header#main-header h1 {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
}